.pg-active-itto
  padding 32px 32px 64px
.pg-active-itto_important
  color cd
.pg-active-itto_names
  fl(center)
  flex-wrap wrap
  margin -4px -4px 20px
.pg-active-itto_label
  f(.45, 14, 20)
  margin 4px
  padding 2px 6px
.pg-active-itto_name
  f(.45, 14, 20)
  margin 4px
  padding 1px 5px
  border 1px solid rgba(0, 0, 0, .25)
  border-radius 2px
  &.is-current
    border-color cp
    color cp
