.pg-point
  display flex
  flex-direction column
  overflow hidden
  box-sizing border-box
  width 100vw
  height 100vh
  user-select none
.pg-point--content
  display flex
  flex auto
  flex-direction column
  overflow hidden
  box-sizing border-box
  padding 24px 32px 0
.pg-point--texts
  getFont(.65, 16, 24)
  padding-bottom 32px
  word-break break-all
  white-space pre-wrap
  overflow auto
