.pg-jp-words
  display flex
  flex-direction column
  overflow hidden
  box-sizing border-box
  width 100vw
  height 100vh
  user-select none
.pg-jp-words_content
  display flex
  flex auto
  flex-direction column
  overflow hidden
  box-sizing border-box
  padding 24px 32px
.pg-jp-words_options
  display flex
  flex none
  justify-content space-between
  align-items center
  margin 8px 0
.pg-jp-words_options-block
  display flex
  flex none
  align-items center
  margin 0 -4px
.pg-jp-words_option
  getFont(.45, 14, 24)
  flex none
  margin 0 4px
  width 24px
  height 24px
  border-radius 4px
  background-color #f2f2f2
  text-align center
.pg-jp-words_process
  position relative
  overflow hidden
  width 100%
  height 16px
  background-color #f2f2f2
.pg-jp-words_point
  position absolute
  top 0
  left 0
  height 100%
  background-color cw
.pg-jp-words_center-wrap
  position relative
  display flex
  flex auto
  flex-direction column
  justify-content center
  overflow hidden
  box-sizing border-box
  height 100%
.pg-jp-words_center
  display flex
  flex auto
  flex-direction column
  justify-content center
  overflow hidden
  box-sizing border-box
  height 100%
.pg-jp-words_voice
  top -16px
  right -36px
  z-index 2
.pg-jp-words_body
  position relative
  justify-content center
  overflow-x hidden
  overflow-y auto
  &.is-hide
    opacity 0
.pg-jp-words_line
  getFont(.85, 32, 48)
  weight()
  flex none
  padding-bottom 16px
  text-align center
  white-space normal
  word-break break-all
.pg-jp-words_footer
  display flex
  flex none
  flex-direction column
  overflow hidden
.pg-jp-words_buttons
  display flex
  flex none
  justify-content space-between
  align-items flex-end
  box-sizing border-box
  width 100vw
.pg-jp-words_corner-button
  flex none
  padding 16px 0 0
  min-width 30vw
  max-width 50vw
  height 80px
  border-radius 0 20px 0 0
  background-color cw
  color #fff
  text-align center
  font-size 24px
  &.is-right
    border-radius 20px 0 0 0
.pg-jp-words_corner-center
  flex auto
  margin 0 2px
  padding 16px 0 0
  min-width 30vw
  max-width 50vw
  height 80px
  border-radius 20px 20px 0 0
  background-color cw
  color #fff
  text-align center
  font-size 24px
.pg-jp-words_modal-title
  margin-right 48px
  font-size 24px
.pg-jp-words_modal-body
  padding-top 32px
  min-height 150px
.pg-jp-words_input
  padding 4px !important
  border-top none !important
  border-right none !important
  border-left none !important
  border-radius 0 !important
  box-shadow none !important
  font-size 24px !important
.pg-jp-words_input-tip
  f(cd, 16, 20)
  margin-top 20px
.pg-jp-words_modal-footer
  display flex
  justify-content flex-end
.pg-jp-words_modal-button
  getFont(.45, 16, 20)
  flex none
  margin-left 8px
  padding 4px 11px
  border 1px solid #d9d9d9
  border-radius 4px
  background-color #fff
.pg-jp-words_favorite
  position absolute
  top 16px
  right 16px
.pg-jp-words_modal-voice
  position absolute
  top 18px
  right 16px
  &.is-with-favorite
    right 56px
.pg-jp-words_favorite-icon.iconfont
  getFont(.45, 32)
  width 32px
  text-align center
  &.is-favorite
    color cw
.pg-jp-words_modal-voice-icon.iconfont
  getFont(.45, 32)
  width 32px
  text-align center
