.pg-noun
  display flex
  flex-direction column
  overflow hidden
  box-sizing border-box
  width 100vw
  height 100vh
  user-select none
.pg-itto--content
  display flex
  flex auto
  flex-direction column
  overflow hidden
  box-sizing border-box
  padding 24px 32px 0
.pg-itto--important-title
  color cd
.pg-itto--detail
  flex auto
  padding-bottom 24px
  overflow auto
.pg-noun--item
  getFont(.65, 16, 24)
  padding-bottom 8px
  white-space pre-wrap
