.pg-jp-words_switch
  getFont(.45, 12, 24)
  flex none
  margin 0 4px
  width 24px
  height 24px
  border-radius 4px
  background-color #f2f2f2
  text-align center
  &.is-checked
    background-color rgba(52, 168, 83, .8)
    color #fff
