.pg-paper
  display flex
  flex-direction column
  overflow hidden
  box-sizing border-box
  width 100vw
  height 100vh
  user-select none
.pg-paper_content
  display flex
  flex auto
  flex-direction column
  overflow hidden
  box-sizing border-box
  padding 24px 32px 0
.pg-paper_body
  overflow auto
.pg-paper_list
  padding-bottom 32px
.pg-paper_item
  getFont(.65, 16, 24)
  weight()
  word-break break-all
  white-space pre-wrap

