.pg-pixel
  display flex
  padding 32px
.pg-pixel_body
  position relative
  display flex
  flex-direction column
  align-content flex-end
.pg-pixel_row
  display flex
  justify-content flex-end
.pg-pixel_column-tip
  display flex
  flex-direction column
  padding-bottom 8px
  width 24px
  font-size 14px
  line-height 24px
.pg-pixel_row-tip
  display flex
  flex auto
  justify-content flex-end
  padding-right 8px
  height 24px
  font-size 14px
  line-height 24px
.pg-pixel_cell
  flex none
  box-sizing border-box
  width 24px
  height 24px
  border 1px inset #ccc
.pg-pixel_option
  fl(center)
  padding 4px 0
.pg-pixel_label
  flex none
  margin-right 8px
  width 100px
  text-align right
.pg-pixel_total
  flex none
  width 120px
.pg-pixel_tip
  flex none
  margin-right 8px
  width 64px
.pg-pixel_tip-number
  flex none
  width 20px
  height 20px
  text-align center
.pg-pixel_light-x
  position absolute
  background-color rgba(0, 255, 255, .3)
.pg-pixel_light-y
  position absolute
  background-color rgba(255, 255, 0, .3)
.pg-pixel_button
  margin-left 16px
