.pg-gaoxiang
  display flex
  flex-direction column
  overflow hidden
  box-sizing border-box
  width 100vw
  height 100vh
  user-select none
.pg-gaoxiang_content
  flex auto
  overflow auto
  box-sizing border-box
  padding 0 32px 32px
.pg-gaoxiang_item
  getFont(.65, 16, 24)
  padding-bottom 8px
