.pg-jp-table_title
  getFont(.85, 14, 20)
  wb()
  margin-bottom 16px
  text-align center
.pg-jp-table_column
  fl(flex-start)
  wb()
  padding 8px 0
  background-color #fff
  &.is-header
    position sticky
    top 0
.pg-jp-table_cell
  getFont(.65, 14, 20)
  wb()
  flex none
  text-align center
  &.is-header
    color cp
.pg-jp-table_bottom
  width 100%
  height 80px
