.pg-health
  display flex
  flex-direction column
  overflow hidden
  box-sizing border-box
  width 100vw
  height 100vh
  user-select none
.pg-health_content
  display flex
  flex auto
  flex-direction column
  overflow hidden
  box-sizing border-box
  padding 24px 32px 0
.pg-health_topics
  margin-bottom 16px
  flex none
.pg-health_topic
  getFont(.85, 16, 24)
  weight()
.pg-health_title
  getFont(.85, 20, 32)
  weight()
  flex none
  margin-bottom 16px
.pg-health_details
  padding-bottom 16px
.pg-health_detail
  getFont(.65, 16, 20)
  white-space pre-wrap
.pg-health_footer
  display flex
  flex none
  flex-direction column
  overflow hidden
.pg-health_buttons
  display flex
  flex none
  justify-content space-between
  align-items center
  box-sizing border-box
  width 100vw
.pg-health_corner-button
  flex none
  padding 16px 0 0
  min-width 30vw
  max-width 50vw
  background-color cw
  color #fff
  text-align center
  font-size 24px
  border-radius 0 20px 0 0
  &.is-right
    border-radius 20px 0 0 0
.pg-health_button
  flex none
  box-sizing border-box
  padding 16px 0 0
  width 100vw
  background-color cd
  color #fff
  text-align center
  font-size 30px
  cursor pointer
  user-select none
  &:last-child
    padding-bottom 16px
  &.in-reading
    background-color cp
  &.in-second
    background-color cs

