.pg-main
  padding 24px 32px 64px
.pg-main_link
  padding 18px 0 20px
  border-bottom 1px solid rgba(0, 0, 0, .08)
  &:first-child
    padding-top 0
.pg-main_title
  getFont(.75, 18, 28)
  color rgba(0, 0, 0, .88)
.pg-main_desc
  getFont(.35, 13, 20)
  margin-top 4px
  color rgba(0, 0, 0, .42)
