.pg-main
  padding 32px 32px 64px
.pg-main--header
  position relative
.pg-main--title
  getFont(.85, 24, 32)
  weight()
  margin-bottom 16px
  text-align center
.pg-main--short
  getFont(.65, 14, 16)
  margin-top -16px
  text-align center
.pg-main--mode
  f(cd, 14, 32)
  position absolute
  right 0
  top 0
  &.is-mode-reading
    color cp
