.pg-cabinet-pick
  flf(auto, stretch)
  padding 32px 64px
.pg-cabinet-pick_body
  bs()
  flfc(auto, center, center)
  border-radius 20px
  background-color #fff
.pg-cabinet-pick_banner
  flex none
  margin -24px 0
  width 192px
.pg-cabinet-pick_box
  flfc(none, center, center)
  margin-top 24px
  padding 24px 32px
  border 1px solid #2c6cfe
  border-radius 4px
  background-color #eff6ff
.pg-cabinet-pick_box-text
  f(#2c6cfe, 32, 48)
.pg-cabinet-pick_box-icon.iconfont
  f(#2c6cfe, 36, 48)
.pg-cabinet-pick_tip
  f(ft85, 24, 32)
  flex none
  margin 32px 0 48px
.pg-cabinet-pick_buttons
  flf(none, center)
  margin-bottom 48px
.pg-cabinet-pick_button
  f(ft65, 24, 32)
  bs()
  flex none
  margin 0 24px
  padding 16px 48px
  border 1px solid rgba(0, 0, 0, .15)
  border-radius 4px
