.pg-cabinet-pick
  flf(auto, center)
  flex-direction column
.pg-cabinet-pick_box
  getFont(.85, 32, 48)
  flex none
  margin-top 48px
  padding 24px 32px
  border 1px solid rgba(0, 0, 0, .65)
  border-radius 4px
.pg-cabinet-pick_tip
  getFont(.85, 24, 32)
  flex none
  margin 32px 0 48px
.pg-cabinet-pick_buttons
  flf(none, center)
.pg-cabinet-pick_button
  getFont(.85, 24, 32)
  flex none
  margin 0 24px
  padding 16px 48px
  border 1px solid rgba(0, 0, 0, .65)
  border-radius 16px
