.pg-deprive-3
  padding-bottom 80px
.pg-deprive-3_top
  fl(center)
  padding 8px 16px
.pg-deprive-3_bottom
  fl(center)
  padding 8px 16px
.pg-deprive-3_item
  flex 1
  margin 0 8px
  min-height 250px !important
  resize none !important
.pg-deprive-3_text
  flex 1
  overflow-x auto
  margin 0 8px
  min-height 250px !important
  white-space pre
.pg-deprive-3_divider
  flex none
  align-self stretch
  width 1px
  background-color #ccc
.pg-deprive-3_value
  padding-bottom 16px
.pg-deprive-3_button
  display inline-block
  flex none
  padding 4px 12px
  border 1px solid #ccc
  border-radius 4px
.pg-deprive-3_flex
  fl(center, flex-end)
  padding 0 24px
.pg-deprive-3_input
  flex none
  width 150px !important
  margin-right 8px
.pg-deprive-3_label
  flex none
  margin-right 4px
.pg-deprive-3_tap
  fl(center, flex-end)
.pg-deprive-3_r-button
  display inline-block
  flex none
  margin-right 8px
  padding 4px 12px
  border 1px solid #ccc
  border-radius 4px
