.pg-overview
  padding 32px 32px 64px
.pg-overview_header
  position relative
.pg-overview_title
  getFont(.85, 24, 32)
  weight()
  margin-bottom 16px
  text-align center
.pg-overview_short
  getFont(.65, 14, 16)
  margin-top -16px
  text-align center
.pg-overview_mode
  f(cd, 14, 32)
  position absolute
  right 0
  top 0
  &.is-mode-reading
    color cp
