.pg-cabinet
  display flex
  flex auto
  flex-direction column
  height 100%
.pg-cabinet_header
  flf(none, center, space-between)
  height 80px
  padding 0 64px
  background linear-gradient(0, rgba(0, 0, 0, .001), rgba(0, 0, 0, .001)), #fff
.pg-cabinet_header-left
  flf(none, center)
.pg-cabinet_header-icon.iconfont
  flex none
  f(cp, 40)
  margin-right 24px
.pg-cabinet_header-title
  f(#333, 36, 50)
  weight(600)
  flex none
.pg-cabinet_header-right
  flf(none, center)
.pg-cabinet_header-name
  f(#666, 14, 20)
  flex none
  margin-right 16px
.pg-cabinet_body
  flf(auto, stretch)
  padding 32px 64px
.pg-cabinet_save
  flfc(1, center, center)
  bs()
  padding 16px 32px
  border-radius 20px
  background-color #fff
.pg-cabinet_pick
  display flex
  flex 1
  flex-direction column
  margin-left 32px
.pg-cabinet_pick-self
  flfc(2, center, center)
  bs()
  border-radius 20px
  background-color #fff
.pg-cabinet_pick-others
  flf(1, center, center)
  bs()
  margin-top 32px
  border-radius 20px
  background-color #fff
.pg-cabinet_others-right
  flfc(none, center, center)
  margin-left 8px
.pg-cabinet_text
  f(#333, 24, 32)
  flex none
  max-width 100%
.pg-cabinet_tip
  f(#666, 16, 24)
  flex none
  margin-top 20px
  max-width 100%
.pg-cabinet_footer-text
  f(#666, 14, 20)
  flex none
.pg-cabinet_footer-right
  f(#999, 14, 20)
.pg-cabinet_save-image
  height 183px
  margin-bottom 20px
.pg-cabinet_pick-image
  flex none
  height 123px
  margin-bottom 20px
