.pg-cabinet
  display flex
  flex auto
  height 100%
.pg-cabinet_save
  display flex
  flex 1
  justify-content center
  align-items center
  padding 16px 32px
  border 1px solid cp
  border-radius 8px
.pg-cabinet_pick
  display flex
  flex 1
  flex-direction column
  margin-left 32px
.pg-cabinet_pick-self
  display flex
  flex 3
  justify-content center
  align-items center
  padding 16px 32px
  border 1px solid cp
  border-radius 8px
.pg-cabinet_pick-others
  display flex
  flex 1
  justify-content center
  align-items center
  margin-top 32px
  padding 16px 32px
  border 1px solid cp
  border-radius 8px
.pg-cabinet_text
  getFont(.85, 48, 72)
  flex none
  max-width 100%