.pg-jp-ppts
  display flex
  flex-direction column
  overflow none
  height 100vh
.pg-jp-ppts_header
  flex none
  padding 16px 32px 0
.pg-jp-ppts_lessons
  flex auto
  overflow auto
  padding 0 32px 64px
.pg-jp-ppts_lesson
  margin-bottom 16px
.pg-jp-ppts_topic
  getFont(.85, 16, 24)
  wb()
.pg-jp-ppts_titles
  margin 8px 0
.pg-jp-ppts_title
  getFont(.85, 16, 24)
  wb()
