.pg-jp-notes_box
  &:hover
    background-color #f7f8fa
.pg-jp-notes_title
  getFont(.85, 16, 24)
  wb()
  margin 8px 0
.pg-jp-notes_desc
  getFont(.45, 14,18)
  wb()
.pg-jp-notes_name
  getFont(.65, 16,20)
  wb()
  padding 4px 0
