.pg-jp-grammar_pre
  getFont(.85, 14, 22)
  padding 0 32px 8px
.pg-jp-grammar_title
  getFont(.85, 16, 24)
  weight()
  padding 0 32px 8px
  text-align center
.pg-jp-grammar_author
  getFont(.85, 14, 22)
  padding 0 32px 8px
  text-align right
.pg-jp-grammar_block
  getFont(.85, 16, 24)
  padding 0 32px 8px
  white-space pre-wrap
  .is-correct
    color cs
  .is-error
    color cd
  .is-current
    color cp
.pg-jp-grammar_answer
  getFont(.65, 16, 24)
  padding 8px 32px
  &.is-correct
    color cs
  &.is-error
    color cw
  &.is-primary
    color cd
.pg-jp-grammar_qus-wrap
  fl(center)
  flex-wrap wrap
  padding 0 24px
.pg-jp-grammar_qus
  f(#fff, 32, 48)
  flex none
  box-sizing border-box
  margin 0 8px 8px
  width 48px
  border-radius 4px
  background-color cp
  text-align center
  &.is-current
    outline 2px solid cw
  &.is-correct
    background-color cs
  &.is-error
    background-color cd
.pg-jp-grammar_line
  margin 0 auto
  width calc(100vw - 64px)
  height 1px
  background-color #ccc
.pg-jp-grammar_no
  display inline-block
  min-width 16px
  text-align left
