.pg-jp-grammar_item + .pg-jp-grammar_item
  padding-top 16px
  border-top 1px solid rgba(0, 0, 0, .15)
.pg-jp-grammar_title-wrap
  getFont(.85, 20, 30)
  padding 0 32px 16px
.pg-jp-grammar_title + .pg-jp-grammar_title
  padding-left 8px
.pg-jp-grammar_group
  padding-bottom 16px
.pg-jp-grammar_topic
  getFont(.85, 20, 30)
  padding 0 32px
.pg-jp-grammar_line
  getFont(.65, 16, 24)
  padding 8px 32px 0
