.pg-cabinet-pick-list
  flfc(auto, stretch)
  overflow-y auto
  padding 32px 64px
.pg-cabinet-pick-list_body
  bs()
  flfc(auto, center)
  padding 24px 0 48px
  border-radius 20px
  background-color #fff
.pg-cabinet-pick-list_title
  f(ft85, 32, 48)
  weight()
  padding 24px 0 48px
  text-align center
.pg-cabinet-pick-list_arrorw.iconfont
  f(ft65, 24, 32)
  flex none
  margin 0 16px
  padding 63px 12px
  border 1px solid ft65
  border-radius 4px
  &.is-disabled
    opacity .25
    cursor not-allowed
.pg-cabinet-pick-list_content
  flf(none, center)
  flex-wrap wrap
  width 930px
.pg-cabinet-pick-list_wrap
  flex none
  width 558px
.pg-cabinet-pick-list_button-wrap
  width 186px
.pg-cabinet-pick-list_button-static-wrap
  flex none
.pg-cabinet-pick-list_button
  flfc(none, center, center)
  box-sizing border-box
  margin 16px
  padding 24px 0
  height 162px
  border-radius 4px
  text-align center
.pg-cabinet-pick-list_box-icon.iconfont
  f(ft85, 36, 48)
  margin-bottom 8px
.pg-cabinet-pick-list_button-text
  f(ft65, 24, 32)
  weight()
