.pg-cabinet-save
  flf(auto, stretch)
  padding 32px 64px
.pg-cabinet-save_body
  flfc(auto, center, center)
  bs()
  padding 16px 32px
  border-radius 20px
  background-color #fff
.pg-cabinet-save_banner
  flex none
  width 192px
.pg-cabinet-save_title
  f(ft85, 32, 48)
  flex none
.pg-cabinet-save_box
  f(ft85, 32, 48)
  flex none
  flex none
  margin-top 48px
  padding 24px 32px
  border 1px solid ft65
  border-radius 4px
.pg-cabinet-save_tip
  f(ft85, 24, 32)
  flex none
  margin 32px 0 48px
.pg-cabinet-save_important
  color cd
.pg-cabinet-save_buttons
  flf(none, center)
.pg-cabinet-save_button
  f(ft85, 24, 32)
  bs()
  flex none
  margin 0 24px
  padding 16px 48px
  border 1px solid cs
  border-radius 16px
  &.is-disabled
    opacity .25
    cursor not-allowed
