.com-cabinet-return
  flf(none, center, space-between)
  padding 0 64px
  height 80px
  background linear-gradient(0, rgba(0, 0, 0, .001), rgba(0, 0, 0, .001)), #fff
.com-cabinet-return_button
  flf(none, center)
.com-cabinet-return_icon.iconfont
  f(ft65, 24, 36)
  flex none
  margin-right 8px
.com-cabinet-return_text
  f(ft65, 24, 36)
  flex none
.com-cabinet-return_time
  f(ft85, 24, 36)
.pg-cabinet-return_right
  flf(none, center)
.pg-cabinet-return_name
  f(#666, 14, 20)
  flex none
  margin-right 16px
