.com-cabinet-return
  flf(none, center, space-between)
  margin-bottom 16px
.com-cabinet-return_button
  flf(none, center)
.com-cabinet-return_icon
  getFont(.65, 16, 24)
  margin-right 8px
  flex none
.com-cabinet-return_text
  getFont(.65, 16, 24)
  flex none
.com-cabinet-return_time
  getFont(.85, 20, 24)
