.com-breadcrumb
  fl(center, space-between)
  getFont(.45, 14)
  flex none
  padding-bottom 16px
  &.is-wrap
    padding 24px 32px 0
    padding-bottom 16px
.com-breadcrumb_left
  flex auto
.com-breadcrumb_flag
  position relative
  top -2px
.com-breadcrumb_right
  fl(center)
  flex none
.com-breadcrumb_on
  getFont(.85, 14, 20)
  flex none
  margin-left 8px
  padding 4px 8px
  border-radius 4px
  background-color #f0f1f2
.com-breadcrumb_off
  getFont(.25, 14, 20)
  flex none
  margin-left 8px
  padding 4px 8px
  border-radius 4px
  background-color #f0f1f2
