.pg-cabinet-save-query
  flf(auto, stretch)
  padding 32px 64px
.pg-cabinet-save-query_input-box
  bs()
  flex 1
  border-radius 20px
  background-color #fff
.pg-cabinet-save-query_detail
  flfc(1, center)
  bs()
  margin-left 32px
  padding-bottom 48px
  border-radius 20px
  background-color #fff
.pg-cabinet-save-query_topic
  f(ft85, 32, 48)
  flex none
  margin 32px 0
  text-align center
.pg-cabinet-save-query_row
  flf(auto, flex-start, center)
.pg-cabinet-save-query_option
  flf(none, center, center)
  box-sizing border-box
  margin 0 16px
  width 100px
  height 100px
  border 1px solid ft45
  border-radius 4px
  &.is-current
    border-color cs
.pg-cabinet-save-query_text
  f(ft65, 24, 32)
  flex none
  &.is-current
    color cs
.pg-cabinet-save-query_buttons
  flex none
.pg-cabinet-save-query_button
  f(ft65, 24, 32)
  bs()
  box-sizing border-box
  margin-top 24px
  padding 16px 32px
  width 364px
  border 1px solid cs
  border-radius 4px
  text-align center
  &.is-disabled
    opacity .25
    cursor not-allowed
