.pg-cabinet-save-query
  flf(auto, flex-start)
  margin-top 24px
.pg-cabinet-save-query_input-box
  flex 1
  margin-right 16px
  margin-left auto
.pg-cabinet-save-query_detail
  flex 1
  margin-right auto
  margin-left 16px
.pg-cabinet-save-query_topic
  f(ft65, 24, 32)
  margin 16px 0 48px
.pg-cabinet-save-query_row
  fl(center)
.pg-cabinet-save-query_option
  flf(none, center, center)
  box-sizing border-box
  margin-right 32px
  width 100px
  height 100px
  border 1px solid ft45
  border-radius 4px
  &.is-current
    border-color cs
.pg-cabinet-save-query_text
  f(ft65, 24, 32)
  flex none
  &.is-current
    color cs
.pg-cabinet-save-query_buttons
  margin-top 64px
.pg-cabinet-save-query_button
  f(ft65, 24, 32)
  bs()
  box-sizing border-box
  margin-top 24px
  padding 16px 32px
  width 364px
  border 1px solid cs
  border-radius 4px
  text-align center
  &.is-disabled
    cursor not-allowed
    opacity .25
