.pg-jp-structure_block
  padding 0 32px 24px
.pg-jp-structure_title
  getFont(.85, 20, 30)
  padding-bottom 8px
.pg-jp-structure_lines
  padding 0 0 8px
  border-bottom 1px solid rgba(0, 0, 0, .15)
.pg-jp-structure_line
  getFont(.65, 16, 24)
  &:first-child
    weight(600)
    padding-top 8px
  &.is-title
    weight()
    padding-top 8px
  &.is-explain
    font-size 14px
  &.is-example
    text-indent 16px
  &.is-notice
    padding-top 8px
    color rgba(0, 0, 0, .45)
    font-size 14px
.pg-jp-structure_row
  fl(center, center)
  padding 4px 0
  margin 0 -20px
.pg-jp-structure_cell
  getFont(.65, 14, 20)
  flex 1
  text-align center
.pg-jp-structure_divider
  flex none
  margin 0 4px
  width 1px
  height 16px
  background-color rgba(0, 0, 0, .45)
