.pg-jp_topic
  getFont(.85, 24, 28)
  weight(600)
  margin-bottom 12px
.pg-jp_options
  fl(center)
  margin 8px 0 16px
.pg-jp_option
  getFont(.45, 16, 32)
  flex none
  margin-right 8px
  width 32px
  height 32px
  border-radius 2px
  background-color #f2f2f2
  text-align center
