.com-cabinet-body
  display flex
  flex-direction column
  justify-content flex-start
  align-items stretch
  box-sizing border-box
  padding 32px 64px
  width 100vw
  height 100vh
  user-select none
