.com-cabinet-body
  display flex
  flex-direction column
  justify-content flex-start
  align-items stretch
  box-sizing border-box
  margin auto
  width 1280px
  height 800px
  background linear-gradient(180deg, #f8f9fa 0, #e9ecef 100%)
  user-select none
