.pg-wash
  display flex
  flex-direction column
  overflow hidden
  box-sizing border-box
  width 100vw
  height 100vh
  user-select none
.pg-wash--content
  display flex
  flex auto
  flex-direction column
  overflow hidden
  box-sizing border-box
  padding 24px 32px 0
.pg-wash--text-area
  height 200px !important
  resize none !important
.pg-wash--button
  margin-top 32px
