.pg-wash
  display flex
  flex-direction column
  overflow hidden
  box-sizing border-box
  width 100vw
  height 100vh
  user-select none
.pg-wash--content
  display flex
  flex auto
  flex-direction column
  overflow hidden
  box-sizing border-box
  padding 24px 32px 0
.pg-wash--text-area
  flex auto
  resize none !important
.pg-wash--button
  flex none
  box-sizing border-box
  margin-top 24px
  padding 16px 0
  width 100vw
  background-color cd
  color #fff
  text-align center
  font-size 30px
  cursor pointer
  user-select none
  border-radius 20px 20px 0 0
