.pg-jp-ppt
  display flex
  flex-direction column
  overflow hidden
  box-sizing border-box
  padding 16px 0 0
  width 100vw
  height 100vh
  .com-breadcrumb
    padding 0 32px 16px
.pg-jp-ppt_content
  flex auto
  overflow auto
  padding 0 32px 64px
.pg-jp-ppt_titles
  margin-bottom 16px
.pg-jp-ppt_title
  getFont(.85, 20, 30)
  weight()
.pg-jp-ppt_explains
  margin-bottom 16px
.pg-jp-ppt_explain
  margin-bottom 8px
.pg-jp-ppt_explain-item
  getFont(.65, 14, 21)
  weight()
  padding-left 16px
  &:first-child
    padding-left 0
    color rgba(0, 0, 0, .85)
.pg-jp-ppt_examples
  margin-bottom 16px
.pg-jp-ppt_example
  getFont(.65, 14, 21)
  weight()
  min-height 8px
.pg-jp-ppt_footer
  display flex
  flex none
  flex-direction column
  overflow hidden
.pg-jp-ppt_footer-buttons
  display flex
  flex none
  justify-content space-between
  align-items center
  box-sizing border-box
  width 100vw
.pg-jp-ppt_footer-button
  flex none
  padding 16px 0 48px
  min-width 30vw
  max-width 50vw
  background-color cw
  color #fff
  text-align center
  font-size 24px
  border-radius 0 20px 0 0
  &.is-right
    border-radius 20px 0 0 0
