.pg-jp-ppt
  display flex
  flex-direction column
  overflow hidden
  box-sizing border-box
  padding 16px 0 0
  width 100vw
  height 100vh
  .com-breadcrumb
    padding 0 32px 16px
.pg-jp-ppt_content
  flex auto
  overflow auto
  padding 0 32px 64px
.pg-jp-ppt_titles
  margin-bottom 16px
.pg-jp-ppt_title
  getFont(.85, 20, 30)
  weight()
.pg-jp-ppt_explains
  margin-bottom 16px
.pg-jp-ppt_explain
  margin-bottom 8px
.pg-jp-ppt_explain-item
  getFont(.65, 14, 21)
  weight()
  padding-left 16px
  &:first-child
    padding-left 0
    color rgba(0, 0, 0, .85)
.pg-jp-ppt_examples
  margin-bottom 16px
.pg-jp-ppt_example
  getFont(.65, 14, 21)
  weight()
  min-height 8px
