.pg-jp-exec_topic
  getFont(.85, 16, 24)
  wb()
  padding 0 32px
.pg-jp-exec_examples
  font-style italic
  padding 0 32px 16px
.pg-jp-exec_example
  getFont(.65, 14, 18)
  padding-left 8px
  min-height 8px
