.pg-jp-course
  display flex
  flex-direction column
  overflow hidden
  box-sizing border-box
  width 100vw
  height 100vh
  user-select none
.pg-jp-course_content
  display flex
  flex auto
  flex-direction column
  overflow hidden
  box-sizing border-box
  padding 24px 32px
.pg-jp-course_body
  overflow auto
.pg-jp-course_block
  margin-bottom 32px
.pg-jp-course_set
  margin-bottom 8px
  &:not(&:last-child)::after
    display block
    width 200px
    height 1px
    background-color #d1d1d1
    content ' '
.pg-jp-course_line
  getFont(.85, 16, 24)
  margin-bottom 4px
.pg-jp-course_topic
  getFont(.85, 24, 28)
  margin-bottom 8px
