.pg-jp-course_body
  padding 0 32px
.pg-jp-course_block
  margin-bottom 16px
.pg-jp-course_set
  margin-bottom 8px
  &:not(&:last-child)::after
    display block
    width 200px
    height 1px
    background-color #d1d1d1
    content ' '
.pg-jp-course_line
  getFont(.85, 16, 24)
  margin-bottom 4px
.pg-jp-course_topic
  getFont(.85, 24, 28)
  margin-bottom 8px
