.com-footer
  display flex
  flex none
  flex-direction column
  overflow hidden
.com-footer_buttons
  display flex
  flex none
  justify-content space-between
  align-items center
  box-sizing border-box
  width 100vw
.com-footer_corner-center
  flex auto
  margin 0 2px
  padding 16px 0 0
  min-width 30vw
  max-width 50vw
  height 80px
  border-radius 20px 20px 0 0
  background-color cw
  color #fff
  text-align center
  font-size 24px
.com-footer_center-buttons
  display flex
  flex auto
  align-items center
.com-footer_center-button
  flex 1
  padding 16px 0 0
  height 80px
  border-radius 20px 20px 0 0
  background-color cw
  color #fff
  text-align center
  font-size 24px
  margin 0 2px
  + .com-footer_center-button
    margin-left 0
.com-footer_corner-button
  flex none
  padding 16px 0 0
  min-width 30vw
  max-width 50vw
  height 80px
  border-radius 0 20px 0 0
  background-color cw
  color #fff
  text-align center
  font-size 24px
  &.is-right
    border-radius 20px 0 0 0
