.pg-jp-listens
  display flex
  flex-direction column
  overflow hidden
  width 100vw
  height 100vh
.pg-jp-listens_header
  flex none
  padding 24px 32px 0
.pg-jp-listens_content
  flex auto
  overflow auto
  padding 0 0 64px
.pg-jp-listens_text
  getFont(.85, 16, 24)
  padding 8px 32px
