.com-cabinet-input
  flf(auto, center)
  flex-direction column
.com-cabinet-input_title
  f(ft85, 32, 48)
  flex none
  margin 32px 0 16px
.com-cabinet-input_blocks
  flf(none, center)
.com-cabinet-input_block
  flf(none, center, center)
  box-sizing border-box
  margin 16px
  width 64px
  height 64px
  border 1px solid ftp
  border-radius 4px
  &.is-current
    border-color cs
.com-cabinet-input_block-text
  f(ftp, 48)
  flex none
.com-cabinet-input_buttons
  fl(center, center)
  flex-wrap wrap
  margin-top 16px
  max-width 360px
.com-cabinet-input_button
  flf(none, center, center)
  box-sizing border-box
  margin 4px 16px
  width 88px
  height 88px
  border 1px solid ft65
  border-radius 4px
.com-cabinet-input_button-text
  f(ft65, 24)
  flex none
.com-cabinet-input_button-icon.iconfont
  f(ft65, 24)
  flex none
.com-cabinet-input_list
  box-sizing border-box
  margin 16px
  padding 16px
  width 352px
  border 1px solid ftp
  border-radius 16px
.com-cabinet-input_list-topic
  f(ft65, 18, 28)
  padding-bottom 12px
.com-cabinet-input_list-item
  f(ftp, 16, 24)
  position relative
  z-index 1
  padding 12px
  border 1px solid ftp
  &.is-current
    z-index 2
    border-color cs
    color cs
.com-cabinet-input_list-body
  min-height 246px
.com-cabinet-input_list-detail
  min-height 286px
.com-cabinet-input_list-item + .com-cabinet-input_list-item
  margin-top -1px
.com-cabinet-input_list-buttons
  fl(center)
  margin-top 32px
.com-cabinet-input_list-button
  f(ft85, 16, 24)
  bs()
  flex 1
  padding 12px 0
  border 1px solid ft65
  border-radius 4px
  text-align center
  &.is-disabled
    opacity .25
    cursor not-allowed
  + .com-cabinet-input_list-button
    margin-left 16px
