.com-cabinet-input
  flf(auto, center)
  flex-direction column
.com-cabinet-input_title
  getFont(.85, 24, 32)
  flex none
  margin 16px 0 24px
.com-cabinet-input_blocks
  flf(none, center)
.com-cabinet-input_block
  flf(none, center, center)
  box-sizing border-box
  margin 16px
  width 64px
  height 64px
  border 1px solid #4284f4
  border-radius 4px
  &.is-current
    border-color #34a853
.com-cabinet-input_block-text
  f(#4284f4, 48)
  flex none
.com-cabinet-input_buttons
  fl(center, center)
  flex-wrap wrap
  margin-top 48px
  max-width 220px
.com-cabinet-input_button
  flf(none, center, center)
  box-sizing border-box
  margin 8px
  width 56px
  height 56px
  border 1px solid rgba(0, 0, 0, .65)
  border-radius 4px
.com-cabinet-input_button-text
  f(.65, 24)
  flex none
.com-cabinet-input_button-icon.iconfont
  f(.65, 24)
  flex none
.com-cabinet-input_list
  box-sizing border-box
  margin 16px
  padding 16px
  width 352px
  border 1px solid #4284f4
  border-radius 16px
.com-cabinet-input_list-topic
  getFont(.65, 18, 28)
  padding-bottom 12px
.com-cabinet-input_list-item
  f(#4284f4, 16, 24)
  position relative
  z-index 1
  padding 12px
  border 1px solid #4284f4
  &.is-current
    z-index 2
    border-color #34a853
    color #34a853
.com-cabinet-input_list-body
  min-height 246px
.com-cabinet-input_list-item + .com-cabinet-input_list-item
  margin-top -1px
.com-cabinet-input_list-buttons
  fl(center)
  margin-top 32px
.com-cabinet-input_list-button
  getFont(.85, 16, 24)
  flex 1
  padding 12px 0
  border 1px solid rgba(0, 0, 0, .65)
  border-radius 4px
  text-align center
  &.is-disabled
    cursor not-allowed
    opacity .25
  + .com-cabinet-input_list-button
    margin-left 16px
