.pg-jp-n2-word
  display flex
  flex-direction column
  overflow hidden
  box-sizing border-box
  width 100vw
  height 100vh
  user-select none
.pg-jp-n2-word_content
  display flex
  flex auto
  flex-direction column
  overflow hidden
  box-sizing border-box
  padding-top 24px
  height 100vh
.pg-jp-n2-word_top
  flex none
  padding 0 32px 8px
.pg-jp-n2-word_body
  flex auto
  overflow auto
.pg-jp-n2-word_item
  fl(flex-start, space-between)
  getFont(.85, 18, 28)
  padding 0 32px 8px
.pg-jp-n2-word_jp
  flex 1
.pg-jp-n2-word_cn
  flex 1
