.pg-case
  display flex
  flex-direction column
  overflow hidden
  box-sizing border-box
  width 100vw
  height 100vh
  user-select none
.pg-case_content
  display flex
  flex auto
  flex-direction column
  overflow hidden
  box-sizing border-box
  padding 24px 32px 0
.pg-case_body
  overflow auto
.pg-case_image
  max-width 100%
.pg-case_explains
  padding-bottom 32px
.pg-case_explain
  getFont(.65, 16, 24)
  weight()
  word-break break-all
  white-space pre-wrap
.pg-case-item
  padding-bottom 16px
.pg-case_q
  getFont(.65, 16, 24)
  word-break break-all
  white-space pre-wrap
.pg-case_a
  getFont(.45, 16, 24)
  word-break break-all
  white-space pre-wrap

