.pg-case
  display flex
  flex-direction column
  overflow hidden
  box-sizing border-box
  width 100vw
  height 100vh
  user-select none
.pg-case--content
  display flex
  flex auto
  flex-direction column
  overflow hidden
  box-sizing border-box
  padding 24px 32px 0
.pg-case--body
  overflow auto
.pg-case--image
  max-width 100%
.pg-case--explains
  padding-bottom 32px
.pg-case--explain
  getFont(.65, 16, 24)
  weight()
  word-break break-all
  white-space pre-wrap
.pg-case-content
  padding-bottom 16px
.pg-case--q
  getFont(.65, 16, 24)
  word-break break-all
  white-space pre-wrap
.pg-case--a
  getFont(.45, 16, 24)
  word-break break-all
  white-space pre-wrap

