.pg-health-list
  display flex
  flex-direction column
  overflow hidden
  box-sizing border-box
  width 100vw
  height 100vh
  user-select none
.pg-health-list_content
  display flex
  flex auto
  flex-direction column
  overflow hidden
  box-sizing border-box
  padding 24px 32px 0
  overflow auto
.pg-health-list_title
  getFont(.85, 16, 24)
  padding-bottom 8px
.pg-health-list_answers
  display flex
  flex auto
  flex-direction column
  overflow hidden
  overflow auto
  box-sizing border-box
  padding-bottom 16px
.pg-health-list_item
  getFont(.65, 16, 24)
  padding-bottom 8px
