.pg-jp-words--word
  flex none
  padding-top 16px
.pg-jp-words--word_line
  getFont(.85, 32, 48)
  weight()
  flex none
  padding-bottom 16px
  text-align center
  white-space normal
  word-break break-all
  &.is-recite
    color cd
