.pg-book
  position relative
  box-sizing border-box
  width 100vw
  height 100vh
  text-align center
.pg-book_page-content
  box-sizing border-box
  max-width 100vw
  max-height calc(100vh - 30%)
  pointer-events none
  user-select none
  object-fit contain
  &.is-full
    max-height 100vh
.pg-book_footer
  position fixed
  right 0
  bottom 0
  left 0
  overflow hidden
  box-sizing border-box
  height 30%
  background-color rgba(247, 89, 171, .1)
.pg-book_no
  color #40a9ff
  &.is-current
    color rgba(0, 0, 0, .45)
.pg-book_prev
  position absolute
  top 0
  bottom 0
  left 0
  width 50%
  cursor pointer
.pg-book_next
  position absolute
  top 0
  right 0
  bottom 0
  width 50%
  cursor pointer
.pg-book_texts-wrap
  position absolute
  top 0
  right 0
  bottom 0
  left 0
  overflow auto
  box-sizing border-box
  padding 16px 32px
.pg-book_pagination
  position absolute
  top 100%
  right 0
  left 0
  height 100%
.pg-book_page-title
  getFont(.85, 24, 36)
  weight(600)
.pg-book_page-trans-title
  getFont(.65, 20, 30)
  weight()
  font-style italic
.pg-book_page-authors
  getFont(.45, 14, 22)
  text-align right
  white-space pre-wrap
  font-style italic
.pg-book_page-text-wrap
  word-break normal
.pg-book_page-text
  getFont(.65, 16, 24)
  weight()
  &.is-active
    color #1890ff
.pg-book_page-text--voice.iconfont
  getFont(.65, 16, 16)
  &.is-active
    color #1890ff
.pg-book_page-translate
  getFont(.65, 14, 22)
  font-style italic
.pg-book_page-texts + .pg-book_page-texts
  padding-top 8px
.pg-book_page-no
  getFont(.65, 20, 30)
  position fixed
  right 16px
  bottom 0
  filter drop-shadow(1px 1px 1px #333)
.pg-book_options
  position absolute
  top 8px
  right 8px
.pg-book_option.iconfont
  display block
  width 24px
  height 24px
  text-align center
  font-size 24px
  line-height 24px
