.pg-jp-words-list_title
  getFont(.85, 20, 28)
  flex none
  padding-bottom 8px
  white-space normal
  word-break break-all
.pg-jp-words-list_body
  justify-content center
  overflow auto
  padding 0 32px
.pg-jp-words-list_line
  getFont(.65, 16, 32)
  flex none
  white-space normal
  word-break break-all
.pg-jp-words-list_division
  margin 4px 0
  height 1px
  background-color #f2f2f2
