.pg-jp-structure--block
  padding 0 32px 24px
.pg-jp-structure--block_title
  getFont(.85, 20, 30)
  padding-bottom 8px
.pg-jp-structure--block_lines
  padding 0 0 8px
  border-bottom 1px solid rgba(0, 0, 0, .15)
.pg-jp-structure--block_line
  getFont(.65, 16, 24)
  &:first-child
    weight(600)
    padding-top 8px
  &.is-title
    weight()
    padding-top 8px
  &.is-explain
    font-size 14px
  &.is-example
    text-indent 16px
  &.is-notice
    padding-top 8px
    color rgba(0, 0, 0, .45)
    font-size 14px
.pg-jp-structure--block_row
  fl(stretch, center)
  margin 4px -20px 0
.pg-jp-structure--block_cell
  flf(1, center, center)
  background-color #eee
  + .pg-jp-structure--block_cell
    margin-left 4px
.pg-jp-structure--block_cell-text
  getFont(.65, 14, 20)
  flex auto
  text-align center
