ft45 = rgba(255, 255, 255, .45)
ft65 = rgba(255, 255, 255, .65)
ft85 = rgba(255, 255, 255, .85)
ftp = rgba(255, 255, 255, .85)
bs()
  box-shadow 0 6px 20px 0 rgba(255, 255, 255, 0.1)
cd = #ea4436
cp = #4284f4
cs = #34a853
cw = #fbbc07
weight(v = 500)
  if v == 500
    font-weight 500
    font-family PingFangSC-Medium, PingFang SC, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', SimSun, sans-serif
  else if v == 600
    font-weight 600
    font-family PingFangSC-Semibold, PingFang SC, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', SimSun, sans-serif
  else
    font-weight 400
    font-family PingFangSC-Regular, PingFang SC, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', SimSun, sans-serif
getColor(v)
  color rgba(0, 0, 0, v)
getFont(v, f = 14, l = f)
  color rgba(0, 0, 0, v)
  font-size unit(f, px)
  line-height unit(l, px)
f(fontColor, f = 14, l = f)
  color fontColor
  font-size unit(f, px)
  line-height unit(l, px)
ellipsis(rows = 0)
  if rows == 0
    overflow hidden
    text-overflow ellipsis
    white-space nowrap
  else
    display -webkit-box
    overflow hidden
    white-space normal
    word-break break-all
    -webkit-box-orient vertical
    -webkit-line-clamp rows
fl(alignItems = normal, justifyContent = start)
  display flex
  justify-content justifyContent
  align-items alignItems
flf(fValue = 0 1 auto, alignItems = normal, justifyContent = start)
  display flex
  flex fValue
  justify-content justifyContent
  align-items alignItems
wb()
  white-space normal
  word-break break-all
