.pg-jp-n2-words
  display flex
  flex-direction column
  overflow hidden
  box-sizing border-box
  width 100vw
  height 100vh
  user-select none
.pg-jp-n2-words_content
  display flex
  flex auto
  flex-direction column
  overflow hidden
  box-sizing border-box
  padding-top 24px
.pg-jp-n2-words_top
  flex none
  padding 0 32px
.pg-jp-n2-words_list
  flex auto
  overflow auto
  padding 0 32px 64px
.pg-jp-n2-words_title
  getFont(.85, 16, 24)
  wb()
  padding 8px 0
