.pg-chapter
  display flex
  flex-direction column
  overflow hidden
  box-sizing border-box
  width 100vw
  height 100vh
  user-select none
  .ant-btn + .ant-btn
    margin-left 8px
.pg-chapter--content
  display flex
  flex auto
  flex-direction column
  overflow hidden
  box-sizing border-box
  padding 24px 32px 0
.pg-chapter--section
  flex auto
  overflow auto
  min-height 200px
.pg-chapter--items
  padding-bottom 32px
.pg-chapter--item-pre
  getFont(.25, 14, 18)
  margin-bottom 4px
.pg-chapter--item
  getFont(.65, 18, 24)
  margin-bottom 8px
.pg-chapter--placeholder
  getFont(.45, 18, 24)
.pg-chapter--footer
  display flex
  flex none
  flex-direction column
  overflow hidden
.pg-chapter--buttons
  display flex
  flex none
  justify-content space-between
  align-items center
  box-sizing border-box
  width 100vw
.pg-chapter--corner-button
  flex none
  padding 16px 0 0
  min-width 30vw
  max-width 50vw
  background-color cw
  color #fff
  text-align center
  font-size 24px
  border-radius 0 20px 0 0
  &.is-right
    border-radius 20px 0 0 0
.pg-chapter--button
  flex none
  box-sizing border-box
  padding 16px 0 0
  width 100vw
  background-color cd
  color #fff
  text-align center
  font-size 30px
  cursor pointer
  user-select none
  &:last-child
    padding-bottom 16px
  &.in-reading
    background-color cp
  &.in-second
    background-color cs
